.body{
    min-width: 250px;
    display: flex;
    flex-wrap: wrap;
    background-color: #000
}

.icon-container{ min-width: 100px;
    display: flex;
    flex-wrap: wrap;
}

    
.main{
    background-color: #000;
}
/* MENU*/
.nav-link {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    font-style: normal;
    background-color: hsl(67, 89%, 55%) !important;
    color: black;
    display: inline-block; /* Ajusta el display para que estén en línea */
    box-sizing: border-box; 
}


.nav.p-2 {
    background-color: #DBF227;
}

.nav-link:hover {
    color: hsl(113, 100%, 35%); /* Corregido el valor de color al formato HSL */

}

#icono1{
    display: inline-block;
}

.m-2 {
    white-space: pre-line;
    font-size: 9em;
    transition: color 0.3s ease; /* Añade transición al cambio de color */
    text-align: left; /* Alinea el texto al centro */
    display: block; /* Asegura que ocupa todo el ancho disponible */
    margin-top: 10px; /* Añade un poco de espacio arriba */
    
}

.inicio::before {
    width: 100%;
    background: url("../assets/pictures/homa3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}
footer {
    width: 100%;
    color: black; /* Cambia el color del texto a negro */
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #DBF227;
}

footer div {
    display: flex;
    justify-content: space-around;
    justify-content: center;

}

footer .item {
    display: flex;
    flex-direction: column;
}

footer .item p {
    color: #000; /* Cambia el color del texto dentro de .item a negro */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 12px;
}

/* Estilo para el contenedor de MENU y PLANES */
.menu-plans {
    display: flex;
    justify-content: flex-start

}

/* Estilo para cada sección de MENU y PLANES */
.item {
    text-align: left;
    margin-right: 20px; /* Ajusta el margen entre las secciones según tu preferencia */
    
}

.item a {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin:none;
}

/* Estilo para los enlaces cuando se les pasa el mouse */
.item a:hover {
    color: hsl(113, 100%, 35%);
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.newsletter h2 {
    font-size: 1.2em;
    margin-bottom: 10px;

}

.subscribe-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding:1px;
}

.subscribe-input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;

}

h6 {
    margin-top: 10px;
}
.subscribe-button {
    padding: 8px;
    background-color: hsl(67, 89%, 55%);
    color: black;
    border: none;
    cursor: pointer;
}
.cards-servicios .card {
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Ajustado a column para que el texto aparezca debajo del ícono */
    justify-content: space-between;
    align-items: flex-start; /* Ajustado a flex-start para alinear el contenido a la izquierda */
    background-color: transparent;
    border: none; /* Quita los bordes */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra al texto */
}

/* Otros estilos para el contenido de la tarjeta (ajustar según sea necesario) */
.cards-servicios .card h3 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Añade sombra al texto h3 (título) */
}

.cards-servicios .card p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Añade sombra al texto del párrafo */
}

/* Otros estilos para la tarjeta según sea necesario */

.cards-servicios{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-rule-color:white;
}
.saber-mas {
    font-family: "Bebas Neue", sans-serif;
    color: hsl(0, 0%, 0%);
    font-size: 1.3em;
    cursor: pointer;
    transition: color 0.3s ease; /* Añade transición al cambio de color */
    text-align: center; /* Alinea el texto al centro */
    display: block; /* Asegura que ocupa todo el ancho disponible */
    margin-top: 10px; /* Añade un poco de espacio arriba */
}

/* Cambia el color al pasar el mouse por encima */
.saber-mas:hover {
    color: hsl(113, 100%, 35%);
}
/* Estilo para posicionar a la izquierda */
.card .saber-mas {
    text-align: left;
    margin-top: 0; /* Elimina el espacio arriba si es necesario */
}