body{
    min-width: 250px;
    display: flex;
    flex-wrap: wrap;
    background-color: #000 !important;

header{
    width: 100%;
}
.fa-heart-pulse{
    color: black;
}

.icon-container {
    min-width: 50px; /* Ajusta el ancho según tus necesidades */
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido del icon-container */
    margin-right: 20px; /* Ajusta el margen derecho según tus necesidades */
}


header {
    position: relative; /* Posición relativa para que .sesion sea posicionado dentro del header */
}

.servicios{
    align-items: center;
    align-self: flex-end;
}
.sesion2 a {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-size: 1.7em;
    font-style: normal;
    color: white;
    display: flex;
    align-items: flex-end;
    text-align: left;
    flex-direction: column-reverse;
    
}


/* Resto de tus estilos para .nav-link, .nav.p-2, etc. */

    
.main{
    background-color: #000;
}
/* MENU*/


.nav-link {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    font-style: normal;
    background-color: hsl(67, 89%, 55%) !important;
    color: black;
    display: inline-block;
    box-sizing: border-box;
    display: flex;
    text-align: left;
    align-items: center; /* Alinea verticalmente el contenido del nav-links */
}

.nav.p-2 {
    background-color: #DBF227;
}

.nav-link:hover {
    color: hsl(113, 100%, 35%);
}

#icono1 {
    display: inline-block;

}
.p-2 h1, .sub{
    color: #d9e2d9;
    text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.3); /* Añade sombra al texto h1 (título) */
    
}





/* FOOTER*/
footer {
    width: 100%;
    color: black;
    padding: 5px;
    display: flex;
    background-color: #DBF227;
    flex-direction: row; /* Cambiado a dirección de fila */
    justify-content: space-between; /* Alinea elementos a los extremos */
}

.menu-plans {
    display: flex;
    align-items: center; /* Alinea verticalmente al centro */

}

.menu-plans .item {
    text-align: left;
    margin-right: 20px;
}

.menu-plans .item a {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: none;
}

.menu-plans .item a:hover {
    color: hsl(113, 100%, 35%);
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; /* Alinea verticalmente al centro */

    
}

.newsletter h3{
    font-size: 1rem;
    font-style: oblique;
    text-align: left;

.newsletter h2{
    font-size: 1.5rem;
    font-style: inherit;
}
.subscribe-box {
    display: flex;
    align-items: flex-end;
    padding: 1px;
}

.subscribe-input {
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.subscribe-button {
    padding: px;
    background-color: hsl(67, 89%, 55%);
    color: black;
    border: none;
    cursor: pointer;
}

/* Estilo para la sección de atención al cliente */



.atencioncliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto; /* Mueve el elemento al final del contenedor flex */
    text-align: center;
    margin-top: auto;
}


footer {
    position: relative;
}

.menu-plans, .newsletter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu-plans {
    left: 0;
}

.newsletter {
    right: 0;
}

.atencioncliente {
    left: 50%;
    transform: translateX(-50%);
    text-align: left;

}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-plans, .newsletter, .atencioncliente {
    flex: 1;
    text-align: center;
}

.menu-plans {
    text-align: left;
}

.atencioncliente h6{
    margin-top: 20px;
    text-align: center;
    
}



/************************************************************************* section 2: clientes*****/





/*******section posicionamiento**********/

.cuadrado-home {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.btn-info {
    color: #000;
}
.cuadrado-home h3 {
    font-size: 30px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    white-space: pre-line;
    

}
.servicios.table {
    background-color: transparent !important;
}

.container p-2{
    text-align: center;
    align-items: center;
}
.cuadrado-home a {
    color: white;
    display: block;
    text-decoration: none;
}
}

.servicios h2{
    color: white;
    text-align: center;
}

h2, h4 {
    margin: 12px;
    color: rgb(94, 255, 0);
}

.product-container{
    display: flex;
    align-items: end;
}
body .p-2{
    font-size:25px ;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;
    max-width: 33%;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    color: white;
}
.card button{
    background-color: #d4f227;
    border: 1px solid black;
}
.card a{
    color: black;
}
.card:nth-child(2){
    border: 1px solid rgba(94, 255, 0, 0.747);;
    transition: .3s;
}
.card:hover{
    border: 1px solid rgba(94, 255, 0, 0.473);;
}
.card:hover > button{
    background-color:rgba(0, 255, 21, 0.644);;
    border: 1px solid rgb(94, 255, 0);;
}
.card h4{
    font-size: 28px;
}
button a{
    text-decoration: none;
    color: #fff;
}
td{
    text-align: center;
}

/* Ajustes para los elementos de lista y el botón */
li {
    list-style: none;
    border: solid 1px black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en el ancho de la pantalla */
}

button {
    padding: 15px;
    margin-top: 12px;
    width: max-content;
}
}

td{
    background-color: transparent;
}
.fa-solid, .fas {
    color: green;
}
.servicios .table-bordered {
    background-color: none; /* Establece el fondo como transparente */
}
.card:nth-child(2){
    border: #000 
}

.sub p {
    /* Estilos que deseas aplicar al párrafo después del elemento con la clase .sub */
    /* Por ejemplo: */
    color: red;
    font-size: 18px;
}
